<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Test Chatting</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index">Go</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Back</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>